$background_color: #D9D9D9;
$background_color__secondary: #F9FAFB;
$text_color__primary: #282828;
$text-color__secondary: #475467;
$text_color__grayed: #9D9FA1;
$text_color__white: #FFFFFF;
$social_icons_background: #FFFFFF;
$hr_line_footer: #D0D5DD;