body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}
body .page-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 68px;
  background: #F9FAFB;
}
header .inner-wrapper {
  padding: 0 15px;
}
header .inner-wrapper .column.first .logo {
  float: none;
  max-width: initial;
  margin: 0;
}
header .inner-wrapper .column.first .logo img {
  margin: 0 auto;
}
header .inner-wrapper .column.third .icon {
  cursor: pointer;
  padding-right: 20px;
}
header .inner-wrapper .column.third .icon:last-child {
  padding-right: 0;
}
header .inner-wrapper .column.third .search:before {
  content: "";
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}
header .inner-wrapper .column.third .user:before {
  content: "";
  background-image: url("../images/icons/user.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}
header .inner-wrapper .column.third .wishlist:before {
  content: "";
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}
header .inner-wrapper .column.third .minicart {
  display: flex;
  align-items: center;
}
header .inner-wrapper .column.third .minicart:before {
  content: "";
  background-image: url("../images/icons/bag.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}
header .inner-wrapper .column.third .minicart .qty-counter {
  background: #282828;
  border-radius: 100%;
  color: #FFFFFF;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .inner-wrapper .column.third .minicart .qty-counter .counter-number {
  font-size: 10px;
}

@media all and (min-width: 992px) {
  header {
    width: 100%;
    height: 68px;
  }
  header .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  header .inner-wrapper .column {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media all and (max-width: 991px) {
  header {
    width: 100%;
    height: 46px;
  }
  header .inner-wrapper {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  header .inner-wrapper .column.first .logo img {
    width: 81px;
  }
  header .inner-wrapper .column.third {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  header .inner-wrapper .column.third .icon.search, header .inner-wrapper .column.third .icon.user, header .inner-wrapper .column.third .icon.wishlist {
    display: none;
  }
  header .inner-wrapper .column.third .icon.minicart {
    padding-right: 15px;
  }
  header .inner-wrapper .column.third .icon.minicart:before {
    content: "";
    background-image: url("../images/icons/bag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
  header .inner-wrapper .column.third .icon.minicart .qty-counter {
    width: 18px;
    height: 18px;
  }
  header .inner-wrapper .column.third .icon.burger:before {
    content: "";
    background-image: url("../images/icons/hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto;
  }
}
body.hide-scrolling {
  overflow-y: hidden;
}

nav.main-menu ul.menu-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-transform: uppercase;
}
nav.main-menu ul.menu-links > li {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
}
nav.main-menu ul.menu-links > li a.nav-item {
  text-decoration: none;
  color: #282828;
  font-weight: 500;
  font-size: 14px;
  padding: 26px 10px;
  margin-inline: 10px;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
}
nav.main-menu ul.menu-links > li a.nav-item:hover {
  color: rgb(0, 0, 0);
}
nav.main-menu ul.menu-links > li a.nav-item.has-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
nav.main-menu ul.menu-links > li a.nav-item.has-dropdown:after {
  content: "";
  background-image: url("../images/icons/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
  margin: 0 auto;
}
.close-nav,
.toggle-nav {
  display: none;
}

@media screen and (max-width: 991px) {
  .toggle-nav,
  .close-nav {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-size: 26px;
  }
  .toggle-nav {
    display: block;
  }
  .close-nav {
    display: none;
    animation: translateX 400ms 0ms ease-in-out forwards;
  }
  .main-menu {
    position: relative;
    display: none;
  }
  .main-menu .active {
    display: block;
  }
  .nav-open .close-nav {
    display: block;
    z-index: 15;
    position: absolute;
    right: 13px;
    left: unset;
    top: 0px;
    float: left;
  }
  .main-menu.active {
    position: fixed;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    width: 60%;
    height: 100vh;
    display: flex;
    z-index: 14;
  }
  .main-menu.active .menu-links {
    display: block !important;
    background-color: #fff;
    float: left;
    margin-top: 0px;
    padding: 40px 20px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    transform-origin: top center;
    animation: translateX 400ms 0ms ease-in-out forwards;
  }
  .main-menu.active .menu-links > li {
    float: left;
    width: 100%;
  }
  .main-menu.active .menu-links > li a.nav-item {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #282828;
    padding: 10px 0;
  }
  .main-menu.active .menu-links > li a.nav-item.has-dropdown {
    width: auto;
  }
  .main-menu .menu-links {
    display: none !important;
  }
  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(-160px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #menu-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 13;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #menu-overlay.show {
    display: block !important;
  }
}
footer {
  padding: 0;
  background: #F9FAFB;
}
footer .container .upper-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 162px;
  padding: 52px;
}
footer .container .upper-row .footer-column.info {
  flex: 3;
}
footer .container .upper-row .footer-column.info .footer-logo {
  width: 120px;
  height: 36px;
}
footer .container .upper-row .footer-column.info .footer-description {
  font-size: 16px;
  font-weight: 400;
  color: #475467;
  max-width: 320px;
  line-height: 2;
}
footer .container .upper-row .footer-column.nav-links {
  flex: 1;
}
footer .container .upper-row .footer-column.nav-links .ft-text {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
}
footer .container .upper-row .footer-column.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .container .upper-row .footer-column.nav-links ul li {
  margin: 10px 0;
}
footer .container .upper-row .footer-column.nav-links ul li a.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #475467;
}
footer .container .upper-row .social-icons ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .container .upper-row .social-icons ul li.icon {
  background: #FFFFFF;
  border-radius: 100%;
  margin-right: 20px;
  padding: 9px;
  cursor: pointer;
}
footer .container .upper-row .social-icons ul li.icon.facebook:before {
  content: "";
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
footer .container .upper-row .social-icons ul li.icon.instagram:before {
  content: "";
  background-image: url("../images/icons/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
footer .container .upper-row .social-icons ul li.icon.twitter:before {
  content: "";
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
footer .container .upper-row .social-icons ul li.icon.email:before {
  content: "";
  background-image: url("../images/icons/email.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
footer .container .copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 52px;
  border-top: 1px solid;
  border-top-color: #D0D5DD;
  height: 60px;
}
footer .container .copyright .copyright-text {
  font-size: 14px;
  color: #475467;
}

@media all and (max-width: 991px) {
  footer .container .upper-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 15px;
    min-height: 300px;
  }
  footer .container .upper-row .footer-column.info .footer-description {
    font-size: 14px;
  }
  footer .container .upper-row .footer-column.nav-links {
    padding: 0;
    margin: 0;
  }
  footer .container .upper-row .footer-column.nav-links span.ft-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 6px 0 12px;
    margin-bottom: 0;
    border-bottom: 1px solid;
    border-bottom-color: #D0D5DD;
    width: 100%;
    position: relative;
    display: block;
  }
  footer .container .upper-row .footer-column.nav-links span.ft-text:before {
    content: "";
    background-image: url("../images/icons/chevron.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
    display: block;
    margin: 0 auto;
  }
  footer .container .upper-row .footer-column.nav-links span.ft-text:before {
    position: absolute;
    right: 10px;
  }
  footer .container .upper-row .footer-column:not(.open) ul {
    display: none;
  }
  footer .container .copyright {
    border: none;
    justify-content: center;
  }
}
.main-slider .swiper-wrapper .slider-block {
  display: flex;
  flex-direction: row;
}
.main-slider .swiper-wrapper .slider-block .text {
  align-self: center;
}
.main-slider .swiper-wrapper .slider-block .text .text-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 150px;
}
.main-slider .swiper-wrapper .slider-block .text .text-wrapper span.slider-top-text {
  font-size: 16px;
  margin-bottom: 10px;
}
.main-slider .swiper-wrapper .slider-block .text .text-wrapper h1.slider-title {
  font-size: 54px;
  text-align: left;
  margin: 0;
}
.main-slider .swiper-wrapper .slider-block .text .text-wrapper p.slider-description {
  font-size: 18px;
  text-align: left;
}
.main-slider .swiper-wrapper .slider-block .text .text-wrapper a.slider-link {
  color: #282828;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-weight: 500;
}
.main-slider .icon {
  background: #FFFFFF;
  border-radius: 100%;
  margin-right: 10px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.main-slider .swiper-button-next:before {
  content: "";
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
}
.main-slider .swiper-button-next:after {
  content: "";
}
.main-slider .swiper-button-prev:before {
  content: "";
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
}
.main-slider .swiper-button-prev:after {
  content: "";
}

@media all and (max-width: 991px) {
  .main-slider .swiper-wrapper .slider-block {
    flex-direction: column;
  }
  .main-slider .swiper-wrapper .slider-block .block-right {
    padding: 30px;
  }
  .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper {
    margin: 0;
  }
  .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper span.slider-top-text {
    font-size: 14px;
  }
  .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper img.slider-small-img {
    display: none;
  }
  .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper h1.slider-title {
    font-size: 28px;
  }
  .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper p.slider-description, .main-slider .swiper-wrapper .slider-block .block-right .text-wrapper a.slider-link {
    font-size: 16px;
  }
}
.newsletter-wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid;
  border-radius: 32px;
}
.newsletter-wrapper #signup-modal-btn {
  background: #282828;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  width: 100%;
  height: 45px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #F9FAFB;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #9D9FA1;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #D0D5DD;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#newsletterForm input[type=text], #newsletterForm select, #newsletterForm textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#newsletterForm input[type=submit] {
  background-color: #282828;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
